html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.float-left
{
    float:left !important;
}
.float-right {
    float: right !important; 
}

.text-align-left{
    text-align:left;
}

.light-green {
    background-color: #28b175;
}