html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.nav-link.active {
    background-color: #17a2b8 !important;
}

.nav-link {
    color: #17a2b8;
}

a {
    color: #17a2b8;
}
    body {
  margin-bottom: 60px;
    padding-left: 35px;
    padding-right: 35px;
}
.float-left
{
    float:left !important;
}
.float-right {
    float: right !important; 
}

.text-align-left{
    text-align:left;
}

.light-green {
    background-color: #c5e5b5;
}

.green {
    background-color: #94f393;
}
