@model ExcelAutomation.Models.ProjectDetailDto
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="@(Model.Index%2==0?"secondary": "primary") row exceldatarow">
    <div class="col-4 row">
        <div class="col-1">@Model.Index</div>
        <div class="col-2 text-align-left">W/D</div>
        <div class="col-5 text-align-left">
            Item Name

        </div>

        <div class="col-4 text-align-left">

            Detail
            #/Page

        </div>
    </div>
    <div class="col text-align-left">Takeoff Color</div>
    <div class="col-5 row text-align-left">
        <div class="col text-align-left">Length</div>
        <div class="col text-align-left">
            Width
        </div>
        <div class="col text-align-left">
            Height
        </div>
        <div class="col text-align-left">
            Pcs
        </div>
        <div class="col text-align-left">
            Mold QTY
        </div>
    </div>
    <div class="col-2 row light-green"></div>
    <div class="col-4 row">
        <div class="col-1">&nbsp;</div>
        <div class="col-2">
            <select id="row@(Model.Index)WD" name="row@(Model.Index)WD" class="form-select" style="width:60px;">
                <option value="Dry">Dry</option>
                <option value="Wet">Wet</option>
            </select>
        </div>
        <div class="col-5">
            <input id="row@(Model.Index)ItemName" name="row@(Model.Index)ItemName" class="form-control" type="text" />

        </div>

        <div class="col-4">
            <input id="row@(Model.Index)DetailPage" name="row@(Model.Index)DetailPage" class="form-control" type="text" />
        </div>
        <div class="col-12">
            <div class="col-3 float-left">
                <div class="col-12"><label> Category</label></div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <select id="row@(Model.Index)Category" name="row@(Model.Index)Category" class="form-select" style="width:80px;">
                            <option value="">Select</option>
                            <option value="Band">Band</option>
                            <option value="Bench">Bench</option>
                            <option value="Block">Block</option>
                            <option value="Bollard">Bollard</option>
                            <option value="Cap">Cap</option>
                            <option value="Coping">Coping</option>
                            <option value="Cornice">Cornice</option>
                            <option value="Date Stone">Date Stone</option>
                            <option value="Header">Header</option>
                            <option value="Lintel">Lintel</option>
                            <option value="Panel">Panel</option>
                            <option value="Planter">Planter</option>
                            <option value="Sill">Sill</option>
                            <option value="Site Furniture">Site Furniture</option>
                            <option value="Slab">Slab</option>
                            <option value="Soffit">Soffit</option>
                            <option value="Spandrel">Spandrel</option>
                            <option value="Stair">Stair</option>
                            <option value="Veneer">Veneer</option>
                            <option value="Wall">Wall</option>
                            <option value="Water Table">Water Table</option>
                            <option value="Unique Item">Unique Item</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="col-9  float-left text-align-left">

                <label class="col-7 "> Disposition (Special Notes)</label>
                <textarea id="row@(Model.Index)DispositionSpecialNote" name="row@(Model.Index)DispositionSpecialNote" class="form-control" type="text" style="height:50px"></textarea>
                <label class="col-7 ">Plan/Elevation</label>
                <input id="row@(Model.Index)PlanElevation" name="row@(Model.Index)PlanElevation" class="form-control" type="text" />

            </div>
        </div>
    </div>
    <div class="col-1">
        <div class="col">
            <input id="row@(Model.Index)TakeOffColor" name="row@(Model.Index)TakeOffColor" type="text" class="form-control" style="width:100px" />
        </div>
        <div class="col text-align-left"> Section</div>
        <div class="col-12 no-margin text-align-left">
        </div>
        <div class="col-12 text-align-left">
            <input type="file" id="row@(Model.Index)File" name="row@(Model.Index)File" class="form-control" />
        </div>

    </div>
    <div class="col-5 row">

        <div class="col">
            <input id="row@(Model.Index)Length" name="row@(Model.Index)Length" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="ConvertNumberToFraction(this);CalculateActSFCFLF(1);CalculateActCFPcs(1);CalculateNomCFPcs(1);" style="width:70px" />
            <input id="row@(Model.Index)LengthHidden" name="row@(Model.Index)LengthHidden" type="hidden" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateActSFCFLF(1);CalculateActCFPcs(1);CalculateNomCFPcs(1);" style="width:70px" />
        </div>
        <div class="col">
            <input id="row@(Model.Index)Width" name="row@(Model.Index)Width" type="text" onkeypress="return isNumberKey(this, event);" onchange="ConvertNumberToFraction(this);CalculateActSFCFLF(1);CalculateNomCFLF(1);" class="form-control" style="width:70px" />
            <input id="row@(Model.Index)WidthHidden" name="row@(Model.Index)WidthHidden" type="hidden" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateActSFCFLF(1);CalculateNomCFLF(1);" style="width:70px" />
        </div>
        <div class="col">
            <input id="row@(Model.Index)Height" name="row@(Model.Index)Height" type="text" onkeypress="return isNumberKey(this, event);" onchange="ConvertNumberToFraction(this);CalculateNomCFLF(1);" class="form-control" style="width:70px" />
            <input id="row@(Model.Index)HeightHidden" name="row@(Model.Index)HeightHidden" type="hidden" onkeypress="return isNumberKey(this, event);" onchange="CalculateNomCFLF(1);" class="form-control" style="width:70px" />
        </div>
        <div class="col">
            <input id="row@(Model.Index)Pieces" name="row@(Model.Index)Pieces" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" style="width:70px" />
        </div>




        <div class="col">
            <input id="row@(Model.Index)MoldQTY" name="row@(Model.Index)MoldQTY" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" style="width:70px" />
        </div>
        <div class="row">
            <div class="col text-align-left">Total LF</div>
            <div class="col text-align-left"></div>
            <div class="col text-align-left">Nom. CF/LF</div>
            <div class="col text-align-left">Total Nom. CF</div>
            <div class="col text-align-left"></div>
        </div>
        <div class="row">
            <div class="col">
                <input id="row@(Model.Index)TotalLF" name="row@(Model.Index)TotalLF" type="text" onkeypress="return isNumberKey(this, event);" onchange="CalculateTotalActCF(1);CalculateTotalNomCF(1);CalculateActSFCFLF(1);" class="form-control" style="width:70px" />
            </div>
            <div class="col"></div>
            <div class="col float-left">
                <input id="row@(Model.Index)NomCFLF" name="row@(Model.Index)NomCFLF" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateNomCFPcs(1);CalculateTotalNomCF(1);" style="width:70px" />
            </div>
            <div class="col float-left">
                <input id="row@(Model.Index)TotalNomCF" name="row@(Model.Index)TotalNomCF" readonly="readonly" type="text" class="form-control" style="width:70px" onchange="CalculateTotalNominal(1)" />
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col text-align-left">Act SF CF/LF</div>
            <div class="col text-align-left">Act CF/Pcs</div>
            <div class="col text-align-left">Total Act CF</div>
            <div class="col text-align-left">Nom. CF/Pcs</div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col float-left">
                <input id="row@(Model.Index)ActSFCFLF" name="row@(Model.Index)ActSFCFLF" type="text" readonly="readonly" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateActCFPcs(1);CalculateTotalActCF(1);" style="width:70px" />
            </div>
            <div class="col float-left">
                <input id="row@(Model.Index)ActCFPcs" name="row@(Model.Index)ActCFPcs" type="text" onkeypress="return isNumberKey(this, event);" readonly="readonly" class="form-control" style="width:70px" />
            </div>
            <div class="col float-left">
                <input id="row@(Model.Index)TotalActCF" name="row@(Model.Index)TotalActCF" readonly="readonly" type="text" onchange="CalculateTotalActual(1);" class="form-control" style="width:70px" />
            </div>

            <div class="col float-left">
                <input id="row@(Model.Index)NomCFPcs" name="row@(Model.Index)NomCFPcs" readonly="readonly" type="text" class="form-control" style="width:70px" />
            </div>
            <div class="col"></div>

        </div>
    </div>
    <div class="col-2 row">
        <div class="light-green col float-left">
            <span class="float-left">$</span><input id="row@(Model.Index)TotalActual" name="row@(Model.Index)TotalActual" readonly="readonly" type="text" class="form-control" style="width:70px;background-color:transparent !important; border: 0px solid;" />
        </div>
        <div class="light-green col float-left">
            <span class="float-left">$</span><input id="row@(Model.Index)TotalNominal" name="row@(Model.Index)TotalNominal" readonly="readonly" type="text" class="form-control" style="width:70px;background-color:transparent !important; border: 0px solid;" />
        </div>
    </div>
</div>