
@{
    ViewData["Title"] = "New Project";
}

<style>
    .form-control {
        font-size: .8rem;
        font-weight: 100;
        padding-left: 2px;
        padding-top: 2px;
        padding-right: 2px;
        padding-bottom: 2px;
    }

    .form-select {
        font-size: .8rem;
        font-weight: 100;
        padding-left: 2px;
        padding-top: 2px;
        padding-right: 2px;
        padding-bottom: 2px;
    }

    .link {
        font-size: .8rem;
    }

    .input-group {
        margin-top: 3px;
    }

    .input-group-text {
        padding: 0rem .5rem;
    }

    .primary {
        background-color: #17a2b8;
    }

    .secondary {
        background-color: #eeeee4;
    }

    label {
        font-size: 0.8rem;
    }

    .font-size-08 {
        font-size: 0.8rem;
    }

    .row > * {
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 2px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .no-margin {
        margin-left: 0px;
        margin-right: 0px;
    }
</style>

<div class="text-center">
<form action="Save" method="POST" role="form" enctype="multipart/form-data">
    <div class="input-group">
        <label for="projectname" class="col-sm-3">Job Name:</label>
        <div class="col-sm-3">
            <input id="projectname" name="projectname" class="form-control" />
        </div>
    </div>
    <div class="input-group">
        <label for="NominalCF" class="col-sm-3">Nominal CF:</label>
        <div class="">
            <span class="input-group-text">$</span>
        </div>
        <div class="col-sm-3">
            <input id="NominalCF" name="NominalCF" onkeypress="return isNumberKey(this, event);" onchange="CalculateTotalNominalOnChangeOfNominalCF();" class="form-control" type="text" style="width:95%"/>
        </div>
    </div>
    <div class="input-group">
            <label for="ActualCF" class="col-sm-3">Actual CF:</label>
        <div class="">
            <span class="input-group-text">$</span>
        </div>
        <div class="col-sm-2">
            <input id="ActualCF" name="ActualCF" onkeypress="return isNumberKey(this, event);" onchange="CalculateTotalActualOnChangeOfActualCF();" class="form-control" type="text" style="width:95%" />
        </div>
    </div>
    <div class="input-group">
            <label for="datepicker" class="col-sm-3">Plan Date:</label>
        <div class="col-sm-2">

            <div class="input-group date" id="datepicker">
                <input type="text" class="form-control" id="RevisionDate" name="RevisionDate" />
                <span class="input-group-append">
                    <span class="input-group-text bg-light d-block">
                        <i class="fa fa-calendar"></i>
                    </span>
                </span>
            </div>
        </div>
    
    </div>
    <div class="input-group">
        <label for="ContactSpecs" class="col-sm-3">Contract Specs:</label>
        <div class="col-sm-2">
            <input type="file" id="ContactSpecs" name="ContactSpecs" class="form-control" />
        </div>
    </div>
        <div class="input-group">
            <label for="notes" class="col-sm-3">Notes: </label>
            <div class="col-sm-2">
                <textarea id="notes" name="notes" rows="4" cols="10" class="form-control" ></textarea>
            </div>
        </div>
    <div class="planElevationText">
        <div class="input-group">
            <label for="" class="col-sm-3">Plan Elevation Text:</label>
            <div class="col-sm-2">
                <input type="text" id="planElevationTextRow1" name="planElevationTextRow1" class="form-control" />
            </div>
        </div>
    </div>
    <hr/>
<div class="input-group">
    <div class="col-sm-2">
        <div class="col" style="text-align:right">
                    <button type="submit" onclick="return Validate();" class="btn btn-primary" style="background-color: #17a2b8"> Save </button>
        </div>
    </div>
    <div style="margin-left: 5px;"></div>
    <div>
                <button type="button" onclick="AddNewRowForPlanElevationDropDown()" class="btn btn-primary" style="background-color: #17a2b8"> Add Plan Elevation Text Row </button>
    </div>
</div>
       
</form>




</div>

@section scripts {

    <script language="javascript" src="~/js/addproject.js" type="text/javascript" asp-append-version="true"></script>
    <script type="text/javascript">
        //e.originalEvent.clipboardData.files
        //const form = document.getElementById("new_document_attachment");
        const fileInput = document.getElementById("ContactSpecs");

        //fileInput.addEventListener('change', () => {
        //    form.submit();
        //});

        window.addEventListener('paste', e => {
            fileInput.files = e.clipboardData.files;
        });
    </script>
}