
@{
    ViewData["Title"] = "New Project";
}

<style>
    .form-control {
        font-size: .8rem;
        font-weight: 100;
        padding-left: 2px;
        padding-top: 2px;
        padding-right: 2px;
        padding-bottom: 2px;
    }

    .form-select {
        font-size: .8rem;
        font-weight: 100;
        padding-left: 2px;
        padding-top: 2px;
        padding-right: 2px;
        padding-bottom: 2px;
    }

    .link {
        font-size: .8rem;
    }

    .input-group {
        margin-top: 3px;
    }

    .input-group-text {
        padding: 0rem .5rem;
    }

    .primary {
        background-color: #d6cfcc;
    }

    .secondary {
        background-color: #eeeee4;
    }

    label {
        font-size: 0.8rem;
    }

    .font-size-08 {
        font-size: 0.8rem;
    }

    .row > * {
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 2px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .no-margin {
        margin-left: 0px;
        margin-right: 0px;
    }
</style>

<div class="text-center">
<form action="Save" method="POST" role="form" enctype="multipart/form-data">
<div class="input-group">
    <label for="staticEmail" class="col-sm-2">Job Name:</label>
    <div class="col-sm-2">
        <input id="projectname" name="projectname" class="form-control" />
    </div>
    <label for="inputPassword" class="col-sm-1">Nominal CF:</label>
    <div class="input-group-append">
        <span class="input-group-text">$</span>
    </div>
    <div class="col-sm-2">
        <input id="NominalCF" name="NominalCF" onkeypress="return isNumberKey(this, event);" onchange="CalculateTotalNominalOnChangeOfNominalCF();" class="form-control" type="text" style="width:95%"/>
    </div>
    <label for="inputPassword" class="col-sm-1">Actual CF:</label>
    <div class="input-group-append">
        <span class="input-group-text">$</span>
    </div>
    <div class="col-sm-2">
        <input id="ActualCF" name="ActualCF" onkeypress="return isNumberKey(this, event);" onchange="CalculateTotalActualOnChangeOfActualCF();" class="form-control" type="text" style="width:95%" />
    </div>
</div>
<div class="input-group">
    <label for="staticEmail" class="col-sm-2">Plan Date:</label>
    <div class="col-sm-2">

        <div class="input-group date" id="datepicker">
            <input type="text" class="form-control" id="RevisionDate" name="RevisionDate" />
            <span class="input-group-append">
                <span class="input-group-text bg-light d-block">
                    <i class="fa fa-calendar"></i>
                </span>
            </span>
        </div>
    </div>
    <label for="staticEmail" class="col-sm-1">Contract Specs:</label>
    <div class="col-sm-2">
        <input type="file" id="ContactSpecs" name="ContactSpecs" class="form-control" />
    </div>
</div>
<div class="input-group mb-3">
            
            
</div>
<table style="width:100%" class="table font-size-08">
<tr>
<td>
<div style="width:100%" id="RowsTable" class="container-fluid">
<div class="row align-items-start">
    <div class="col-4 row">
        <div class="col-1">No</div>


    </div>
    <div class="col-6 row"></div>
    <div class="col-2 row">
        <div class="col text-align-left">Total Actual</div>
        <div class="col text-align-left">Total Nominal</div>
    </div>
</div>
                        
<div class="primary row exceldatarow">
    <div class="col-4 row">
        <div class="col-1">1</div>
        <div class="col-2 text-align-left">W/D</div>
        <div class="col-5 text-align-left">
            Item Name

        </div>

        <div class="col-4 text-align-left">

            Detail
            #/Page

        </div>
    </div>
    <div class="col text-align-left">Takeoff Color</div>
    <div class="col-5 row text-align-left">
        <div class="col text-align-left">Length</div>
        <div class="col text-align-left">
            Width
        </div>
        <div class="col text-align-left">
            Height
        </div>
        <div class="col text-align-left">
            Pcs
        </div>
        <div class="col text-align-left">
            Mold QTY
        </div>
    </div>
    <div class="col-2 row light-green"></div>
    <div class="col-4 row">
        <div class="col-1">&nbsp;</div>
        <div class="col-2">
            <input id="row1projectDetailId" name="row1projectDetailId" type="hidden"  />
            <select id="row1WD" name="row1WD" class="form-select" style="width:60px;">
                <option value="Dry">Dry</option>
                <option value="Wet">Wet</option>
            </select>
        </div>
        <div class="col-5">
            <input id="row1ItemName" name="row1ItemName" class="form-control" type="text" />

        </div>

        <div class="col-4">
            <input id="row1DetailPage" name="row1DetailPage" class="form-control" type="text" />
        </div>
        <div class="col-12">
            <div class="col-3 float-left">
                <div class="col-12"><label> Category</label></div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <select id="row1Category" name="row1Category" class="form-select" style="width:80px;">
                            <option value="">Select</option>
                            <option value="Band">Band</option>
                            <option value="Bench">Bench</option>
                            <option value="Block">Block</option>
                            <option value="Bollard">Bollard</option>
                            <option value="Cap">Cap</option>
                            <option value="Coping">Coping</option>
                            <option value="Cornice">Cornice</option>
                            <option value="Date Stone">Date Stone</option>
                            <option value="Header">Header</option>
                            <option value="Lintel">Lintel</option>
                            <option value="Panel">Panel</option>
                            <option value="Planter">Planter</option>
                            <option value="Sill">Sill</option>
                            <option value="Site Furniture">Site Furniture</option>
                            <option value="Slab">Slab</option>
                            <option value="Soffit">Soffit</option>
                            <option value="Spandrel">Spandrel</option>
                            <option value="Stair">Stair</option>
                            <option value="Veneer">Veneer</option>
                            <option value="Wall">Wall</option>
                            <option value="Water Table">Water Table</option>
                            <option value="Unique Item">Unique Item</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="col-9  float-left text-align-left">

                <label class="col-7 "> Disposition (Special Notes)</label>
                <textarea id="row1DispositionSpecialNote" name="row1DispositionSpecialNote" class="form-control" type="text" style="height:50px"></textarea>

                <a href="javascript:void(0)" onclick="AddNewLFRow();">Plan/Elevation</a>
                                        <a href="#planElevationModal" rel="modal:open" data-modal>Open Modal</a>
            </div>
        </div>
    </div>
    <div class="col-1">
        <div class="col">
            <input id="row1TakeOffColor" name="row1TakeOffColor" type="text" class="form-control" style="width:100px"  />
        </div>
        <div class="col text-align-left"> Section</div>
        <div class="col-12 no-margin text-align-left">
                                       
        </div>
        <div class="col-12 text-align-left">
            <input type="file" id="row1File" name="row1File" class="form-control" />
        </div>

    </div>
    <div class="col-5 row">

        <div class="col">
            <input id="row1Length" name="row1Length" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="ConvertNumberToFraction(this);CalculateActCFPcs(1);CalculateNomCFPcs(1);" style="width:70px" />
            <input id="row1LengthHidden" name="row1LengthHidden" type="hidden" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateActCFPcs(1);CalculateNomCFPcs(1);" style="width:70px" />
        </div>
        <div class="col">
            <input id="row1Width" name="row1Width" type="text" onkeypress="return isNumberKey(this, event);" onchange="ConvertNumberToFraction(this);CalculateNomCFLF(1);CalculateNomCFPcs(1);" class="form-control" style="width:70px" />
            <input id="row1WidthHidden" name="row1WidthHidden" type="hidden" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateNomCFLF(1);CalculateNomCFPcs(1);" style="width:70px" />
        </div>
        <div class="col">
            <input id="row1Height" name="row1Height" type="text" onkeypress="return isNumberKey(this, event);" onchange="ConvertNumberToFraction(this);CalculateNomCFLF(1);CalculateNomCFPcs(1);" class="form-control" style="width:70px" />
            <input id="row1HeightHidden" name="row1HeightHidden" type="hidden" onkeypress="return isNumberKey(this, event);" onchange="CalculateNomCFLF(1);CalculateNomCFPcs(1);" class="form-control" style="width:70px" />
        </div>
        <div class="col">
            <input id="row1Pieces" name="row1Pieces" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" style="width:70px" />
        </div>




        <div class="col">
            <input id="row1MoldQTY" name="row1MoldQTY" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" style="width:70px" />
        </div>
        <div class="row">
            <div class="col text-align-left">Total LF</div>
            <div class="col text-align-left"></div>
            <div class="col text-align-left">Nom. CF/LF</div>
            <div class="col text-align-left">Total Nom. CF</div>
            <div class="col text-align-left"></div>
        </div>
        <div class="row">
            <div class="col">
                <input id="row1TotalLF" name="row1TotalLF" type="text" onkeypress="return isNumberKey(this, event);" onchange="CalculateTotalActCF(1);CalculateTotalNomCF(1);" class="form-control" style="width:70px"  />
            </div>
            <div class="col"></div>
            <div class="col float-left">
                <input id="row1NomCFLF" name="row1NomCFLF" type="text" readonly="readonly" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateNomCFPcs(1);CalculateTotalNomCF(1);" style="width:70px" />
            </div>
            <div class="col float-left">
                <input id="row1TotalNomCF" name="row1TotalNomCF" readonly="readonly" type="text" class="form-control" style="width:70px" onchange="CalculateTotalNominal(1)"  />
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col text-align-left">Act SF CF/LF</div>
            <div class="col text-align-left">Act CF/Pcs</div>
            <div class="col text-align-left">Total Act CF</div>
            <div class="col text-align-left">Nom. CF/Pcs</div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col float-left">
                <input id="row1ActSFCFLF" name="row1ActSFCFLF" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateActCFPcs(1);CalculateTotalActCF(1);" style="width:70px"  />
            </div>
            <div class="col float-left">
                <input id="row1ActCFPcs" name="row1ActCFPcs" type="text" onkeypress="return isNumberKey(this, event);" readonly="readonly" class="form-control" style="width:70px"  />
            </div>
            <div class="col float-left">
                <input id="row1TotalActCF" name="row1TotalActCF" readonly="readonly" type="text" onchange="CalculateTotalActual(1);" class="form-control" style="width:70px"  />
            </div>

            <div class="col float-left">
                <input id="row1NomCFPcs" name="row1NomCFPcs" readonly="readonly" type="text" class="form-control" style="width:70px"  />
            </div>
            <div class="col"></div>

        </div>
    </div>
    <div class="col-2 row">
        <div class="light-green col float-left">
            <span class="float-left">$</span><input id="row1TotalActual" name="row1TotalActual" readonly="readonly" type="text" class="form-control" style="width:70px;background-color:transparent !important; border: 0px solid;" />
        </div>
        <div class="light-green col float-left">
            <span class="float-left">$</span><input id="row1TotalNominal" name="row1TotalNominal" readonly="readonly" type="text" class="form-control" style="width:70px;background-color:transparent !important; border: 0px solid;" />
        </div>
    </div>
</div>
                            
                        
</div>
</td>
</tr>
<tr>
    <td colspan="2" style="text-align:left;">
        <input type="button" value="New Row" onclick="OnAddRow();" class="btn btn-primary"/>
    </td>
</tr>
</table>
<div class="container-fluid">
    <div class="row align-items-start">
        <div class="col">

        </div>
        <div class="col">

        </div>
        <div class="col" style="text-align:right">
            <button type="submit" onclick="return Validate();" class="btn btn-primary"> Save </button>
        </div>
    </div>
</div>
</form>
<div class="modal fade" id="planElevationModal" 
     tabindex="-1"
     aria-labelledby="planElevationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="planElevationModalLabel">
                    Plan Elevation
                </h5>
                          
                <button type="button" 
                        class="close" 
                        data-dismiss="modal" 
                        aria-label="Close">
  
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
  
            <div class="modal-body">
  
                <!-- Data passed is displayed
                in this part of the 
                modal body -->
                <div class="row" id="rows">
                    <div class="row">
                        <div class="col-4">LF</div>
                        <div class="col-6"><input type="text" id="lf1" name="lf1" class="form-control"/></div>
                    </div>
                </div>
                <p id="modal_body">

                </p>
  
                <button type="button" 
                        class="btn btn-warning btn-sm" 
                        data-toggle="modal"
                        data-target="#exampleModal" onclick="">
                    Calculate LF
                </button>
            </div>
        </div>
    </div>
</div>

<div id="dialog-form" title="Create new user">
    <p class="validateTips">All form fields are required.</p>
 
    <form>
        <fieldset>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="Jane Smith" class="text ui-widget-content ui-corner-all">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" value="jane@smith.com" class="text ui-widget-content ui-corner-all">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all">
 
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>
</div>

@section scripts {

    <script>
        $(document).ready(function () {
            $('#datepicker').datepicker({
                autoclose: true
            });
            $('#planElevationModal').modal({
                closeExisting: false
            });

            dialog = $("#dialog-form").dialog({
                autoOpen: false,
                height: 400,
                width: 350,
                modal: true,
                buttons: {
                    "Create an account": addUser,
                    Cancel: function () {
                        dialog.dialog("close");
                    }
                },
                close: function () {
                    form[0].reset();
                    allFields.removeClass("ui-state-error");
                }
            });

            form = dialog.find("form").on("submit", function (event) {
                event.preventDefault();
                //addUser();
            });

            $("#create-user").button().on("click", function () {
                dialog.dialog("open");
            });
        });
        $('a[data-modal]').click(function (event) {
            $(this).modal();
            return false;
        });

        function addUser() {
            var valid = true;
            allFields.removeClass("ui-state-error");

            valid = valid && checkLength(name, "username", 3, 16);
            valid = valid && checkLength(email, "email", 6, 80);
            valid = valid && checkLength(password, "password", 5, 16);

            valid = valid && checkRegexp(name, /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter.");
            valid = valid && checkRegexp(email, emailRegex, "eg. ui@jquery.com");
            valid = valid && checkRegexp(password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9");

            if (valid) {
                $("#users tbody").append("<tr>" +
                    "<td>" + name.val() + "</td>" +
                    "<td>" + email.val() + "</td>" +
                    "<td>" + password.val() + "</td>" +
                    "</tr>");
                dialog.dialog("close");
            }
            return valid;
        }
    </script>

}