
@{
    ViewData["Title"] = "New Project";
}

<style>
    .form-control {
        font-size: .8rem;
        font-weight: 100;
        padding-left: 2px;
        padding-top: 2px;
        padding-right: 2px;
        padding-bottom: 2px;
    }

    .form-select {
        font-size: .8rem;
        font-weight: 100;
        padding-left: 2px;
        padding-top: 2px;
        padding-right: 2px;
        padding-bottom: 2px;
    }

    .link {
        font-size: .8rem;
    }

    .input-group {
        margin-top: 3px;
    }

    .input-group-text {
        padding: 0rem .5rem;
    }

    .primary {
        background-color: #d6cfcc;
    }

    .secondary {
        background-color: #eeeee4;
    }

    label {
        font-size: 0.8rem;
    }

    .font-size-08 {
        font-size: 0.8rem;
    }

    .row > * {
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 2px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .no-margin {
        margin-left: 0px;
        margin-right: 0px;
    }
</style>

<div class="text-center">
    <form action="Save" method="POST" role="form" enctype="multipart/form-data">
        <div class="input-group">
            <label for="staticEmail" class="col-sm-2 col-form-label">Job Name:</label>
            <div class="col-sm-3">
                <input id="projectname" name="projectname" class="form-control" />
            </div>
        </div>
        <div class="input-group">
            <label for="inputPassword" class="col-sm-2 col-form-label">Nominal CF:</label>
            <div class="input-group-append">
                <span class="input-group-text">$</span>
            </div>
            <div class="col-sm-3">
                <input id="NominalCF" name="NominalCF" onkeypress="return isNumberKey(this, event);" onchange="CalculateTotalNominalOnChangeOfNominalCF();" class="form-control" type="text" />
            </div>
        </div>
        <div class="input-group mb-3">
            <label for="inputPassword" class="col-sm-2 col-form-label">Actual CF:</label>
            <div class="input-group-append">
                <span class="input-group-text">$</span>
            </div>
            <div class="col-sm-3">
                <input id="ActualCF" name="ActualCF" onkeypress="return isNumberKey(this, event);" onchange="CalculateTotalActualOnChangeOfActualCF();" class="form-control" type="text" />
            </div>
            
        </div>
        <table style="width:100%" class="table font-size-08">
            <tr>
                <td>
                    <div style="width:100%" id="RowsTable" class="container-fluid">
                        <div class="row align-items-start">
                            <div class="col-4 row">
                                <div class="col-1">No</div>


                            </div>
                            <div class="col-6 row"></div>
                            <div class="col-2 row">
                                <div class="col text-align-left">Total Actual</div>
                                <div class="col text-align-left">Total Nominal</div>
                            </div>
                        </div>
                        
                        <div class="primary row datarow">
                                <div class="col-4 row">
                                    <div class="col-1">1</div>
                                    <div class="col-2 text-align-left">W/D</div>
                                    <div class="col-5 text-align-left">
                                        Item Name

                                    </div>

                                    <div class="col-4 text-align-left">

                                        Detail
                                        #/Page

                                    </div>
                                </div>
                                <div class="col text-align-left">Takeoff Color</div>
                                <div class="col-5 row text-align-left">
                                    <div class="col text-align-left">Length</div>
                                    <div class="col text-align-left">
                                        X
                                        Width
                                    </div>
                                    <div class="col text-align-left">
                                        Hight
                                    </div>
                                    <div class="col text-align-left">
                                        Pcs
                                    </div>
                                    <div class="col text-align-left">
                                        Mold QTY
                                    </div>
                                </div>
                                <div class="col-2 row light-green"></div>
                                <div class="col-4 row">
                                    <div class="col-1">&nbsp;</div>
                                    <div class="col-2">
                                        <input id="row1projectDetailId" name="row1projectDetailId" type="hidden"  />
                                        <select id="row1WD" name="row1WD" class="form-select" style="width:60px;">
                                            <option value="Dry">Dry</option>
                                            <option value="Wet">Wet</option>
                                        </select>
                                    </div>
                                    <div class="col-5">
                                        <input id="row1ItemName" name="row1ItemName" class="form-control" type="text" />

                                    </div>

                                    <div class="col-4">
                                        <input id="row1DetailPage" name="row1DetailPage" class="form-control" type="text" />
                                    </div>
                                    <div class="col-12">
                                        <div class="col-3 float-left">&nbsp;</div>
                                        <div class="col-9  float-left text-align-left">

                                            <label for="inputPassword" class="col-7 "> Disposition (Special Notes)</label>


                                            <textarea id="row1DispositionSpecialNote" name="row1DispositionSpecialNote" style="height:80px;" class="form-control" type="text" ></textarea>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="col">
                                        <input id="row1TakeOffColor" name="row1TakeOffColor" type="text" class="form-control" style="width:100px"  />
                                    </div>
                                    <div class="col text-align-left"> Section</div>
                                    <div class="col-12 no-margin text-align-left">
                                       
                                    </div>
                                    <div class="col-12 text-align-left">
                                        <input type="file" id="row1File" name="row1File" class="form-control" />
                                    </div>

                                </div>
                                <div class="col-5 row">

                                    <div class="col">
                                        <input id="row1Length" name="row1Length" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateActCFPcs(1);CalculateNomCFPcs(1);" style="width:70px" />
                                    </div>
                                    <div class="col">
                                        <input id="row1Width" name="row1Width" type="text" onkeypress="return isNumberKey(this, event);" onchange="CalculateNomCFLF(1);" class="form-control" style="width:70px" />
                                    </div>
                                    <div class="col">
                                        <input id="row1Height" name="row1Height" type="text" onkeypress="return isNumberKey(this, event);" onchange="CalculateNomCFLF(1);" class="form-control" style="width:70px" />
                                    </div>
                                    <div class="col">
                                        <input id="row1Pieces" name="row1Pieces" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" style="width:70px" />
                                    </div>




                                    <div class="col">
                                        <input id="row1MoldQTY" name="row1MoldQTY" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" style="width:70px" />
                                    </div>
                                    <div class="row">
                                        <div class="col text-align-left">Total LF</div>
                                        <div class="col text-align-left"></div>
                                        <div class="col text-align-left">Nom. CF/LF</div>
                                        <div class="col text-align-left">Total Nom. CF</div>
                                        <div class="col text-align-left"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <input id="row1TotalLF" name="row1TotalLF" type="text" onkeypress="return isNumberKey(this, event);" onchange="CalculateTotalActCF(1);CalculateTotalNomCF(1);CalculateActSFCFLF(1);" class="form-control" style="width:70px"  />
                                        </div>
                                        <div class="col"></div>
                                        <div class="col float-left">
                                            <input id="row1NomCFLF" name="row1NomCFLF" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateNomCFPcs(1);CalculateTotalNomCF(1);" style="width:70px"  />
                                        </div>
                                        <div class="col float-left">
                                            <input id="row1TotalNomCF" name="row1TotalNomCF" readonly="readonly" type="text" class="form-control" style="width:70px" onchange="CalculateTotalNominal(1)"  />
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-align-left">Act SF CF/LF</div>
                                        <div class="col text-align-left">Act CF/Pcs</div>
                                        <div class="col text-align-left">Total Act CF</div>
                                        <div class="col text-align-left">Nom. CF/Pcs</div>
                                        <div class="col"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col float-left">
                                            <input id="row1ActSFCFLF" name="row1ActSFCFLF" type="text" readonly="readonly" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateActCFPcs(1);CalculateTotalActCF(1);" style="width:70px"  />
                                        </div>
                                        <div class="col float-left">
                                            <input id="row1ActCFPcs" name="row1ActCFPcs" type="text" onkeypress="return isNumberKey(this, event);" readonly="readonly" class="form-control" style="width:70px"  />
                                        </div>
                                        <div class="col float-left">
                                            <input id="row1TotalActCF" name="row1TotalActCF" readonly="readonly" type="text" onchange="CalculateTotalActual(1);" class="form-control" style="width:70px"  />
                                        </div>

                                        <div class="col float-left">
                                            <input id="row1NomCFPcs" name="row1NomCFPcs" readonly="readonly" type="text" class="form-control" style="width:70px"  />
                                        </div>
                                        <div class="col"></div>

                                    </div>
                                </div>
                                <div class="col-2 row">
                                    <div class="light-green col float-left">
                                        <span class="float-left">$</span><input id="row1TotalActual" name="row1TotalActual" readonly="readonly" type="text" class="form-control" style="width:70px;background-color:transparent !important; border: 0px solid;" />
                                    </div>
                                    <div class="light-green col float-left">
                                        <span class="float-left">$</span><input id="row1TotalNominal" name="row1TotalNominal" readonly="readonly" type="text" class="form-control" style="width:70px;background-color:transparent !important; border: 0px solid;" />
                                    </div>
                                </div>
                            </div>
                            
                        
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:left;">
                    <input type="button" value="New Row" onclick="OnAddRow();" class="btn btn-primary"/>
                </td>
            </tr>
        </table>
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col">

                </div>
                <div class="col">

                </div>
                <div class="col" style="text-align:right">
                    <button type="submit" onclick="return Validate();" class="btn btn-primary"> Save </button>
                </div>
            </div>
        </div>
    </form>
</div>

